

.content-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.total{
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 50vw;
    height: 10vh;
    text-align: right;
  /* border: 2px solid black; */
}
.remove-cart{
    height: 5vh;
    width: 10vw;
    /* border: 2px solid black; */
}

.cart-subcontent{
   
    width: 15vh;
    margin: auto;
  
}
.cartprice{
    text-align: center;
}

.buy{
    margin-top: 5vh;
    text-align: center;
    /* border: 2px solid black; */
    width: 10vw;
 
}
.buybtn{
    height: 5vh;
    width: 10vw;
}
.addsubbtn{
  
    text-align: center;
    
}
.btncontainer{
    /* border: 2px solid black; */
    text-align: center;
    /* height: 10vh; */
    margin-top: 10px;
}
.image{
    height: 40vh;
    width: 25vw;
    border-radius: 15px;
  border: 1px solid black;
   
}
.image:hover{
    box-shadow: 1px 1px 10px black;
}

.container{ 
    margin-top: 2%;
    /* border: 2px solid black;  */
  /* background-image: linear-gradient(195deg,white,rgba(11, 11, 48, 0.842));
    height: 100vh; */
    
    

 }
.cart_details{
    border: 1px solid gray;
    display: flex;
   border-radius: 15px;
    flex-direction: row;
    height: 40vh;
    width: 25vw;
    background-color: rgba(192, 233, 247, 0.603);
    justify-content: center;
   

}
.imgae_container{
   
    display: flex;
    gap: 150px;

 }
.container{
    display: flex;
    /* border: 2px solid black; */
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}











@media screen and (min-width:300px) and (max-width:600px) {
    

.content-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    
    
}
.total{
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 50vw;
    height: 10vh;
    text-align: right;
  border: 2px solid black;
}
.remove-cart{
    height: 5vh;
    width: 10vw;
    border: 2px solid black;
}

.cart-subcontent{
    border: 2px solid black;
    width: 15vh;
    margin: auto;
  
}
.cartprice{
    text-align: center;
    border: 2px solid black;
}

.buy{
    margin-top: 5vh;
    text-align: center;
    border: 2px solid black;
    width: 10vw;
 
}
.buybtn{
    height: 5vh;
    width: 10vw;
    border: 2px solid black;
}
.addsubbtn{
    border: 2px solid black;
    text-align: center;
    
}
.btncontainer{
    /* border: 2px solid black; */
    text-align: center;
    /* height: 10vh; */
    margin-top: 10px;
}
.image{
    height: 40vh;
    width: 85vw;
    border-radius: 15px;
  border: 1px solid black;
   
}
.image:hover{
    box-shadow: 1px 1px 10px black;
}

.container{ 
    margin-top: 2%;
    border: 2px solid black;
    /* border: 2px solid black;  */
  /* background-image: linear-gradient(195deg,white,rgba(11, 11, 48, 0.842));
    height: 100vh; */
    
    

 }
.cart_details{
    border: 1px solid gray;
    display: flex;
   border-radius: 15px;
    flex-direction: row;
    height: 40vh;
    width: 55vw;
    background-color: rgba(192, 233, 247, 0.603);
    border: 2px solid black;
    justify-content: center;
   

}
.imgae_container{
   
    display: flex;
    /* gap: 150px; */

 }
.container{
    display: flex;
    /* border: 2px solid black; */
    flex-wrap: wrap;
    /* gap: 20px; */
    justify-content: space-evenly;
    align-items: center;
}


    
}